body { 
    background-color: rgb(134, 123, 102);
}

h1 {
    font-size: 30px;
    text-align: center;
}

.texto1 {
    text-align: center;
    color:rgb(70, 6, 66);
    font-size: 20px;
}

.texto2 {
    text-align: center;
    color:rgb(239, 98, 171);
    font-size: 20px;
}
